# Beehiiv newsletter subscribe API
# https://developers.beehiiv.com/api-reference/subscriptions/create
BEEHIIV_API_KEY=
BEEHIIV_PUBLICATION_ID=

# Public site URL (used for absolute links + OG metadata)
NEXT_PUBLIC_APP_URL=https://aboutai.com
